<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74197580-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="gallery">
	<%= image_tag("railey west beach.JPG", :alt => "", :style => "width: 50em; height: 38em", :class => "style_image") %>
	<%= image_tag("ao nang mountains.png", :alt => "", :class => "style_image") %>
	<%= image_tag("gopro177.JPG", :alt => "", :class => "style_image") %>
	<%= image_tag("G0PRO190.JPG", :alt => "", :class => "style_image") %>
	<%= image_tag("lake.png", :alt => "", :class => "style_image") %>
	<%= image_tag("patong beach.png", :alt => "", :class => "style_image") %>
	<%= image_tag("ross checking his ass.png", :alt => "", :class => "style_image") %>
	<%= image_tag("ross in sea.png", :alt => "", :class => "style_image") %>
	<%= image_tag("ross infroont of lake.png", :alt => "", :class => "style_image") %>
	<%= image_tag("view from boat.png", :alt => "", :class => "style_image") %>
	<%= image_tag("view of bangkok.png", :alt => "", :class => "style_image") %>
</div>

