<h1>Images</h1>
<div class="gallery">
	<%= image_tag("railey west beach.JPG", :alt => "", :style => "width: 50em; height: 38em", :class => "style_image") %>
	<%= image_tag("ao nang mountains.png", :alt => "", :class => "style_image") %>
	<%= image_tag("gopro177.JPG", :alt => "", :class => "style_image") %>
	<%= image_tag("G0PRO190.JPG", :alt => "", :class => "style_image") %>
	<%= image_tag("lake.png", :alt => "", :class => "style_image") %>
	<%= image_tag("patong beach.png", :alt => "", :class => "style_image") %>
	<%= image_tag("ross checking his ass.png", :alt => "", :class => "style_image") %>
	<%= image_tag("ross in sea.png", :alt => "", :class => "style_image") %>
	<%= image_tag("ross infroont of lake.png", :alt => "", :class => "style_image") %>
	<%= image_tag("view from boat.png", :alt => "", :class => "style_image") %>
	<%= image_tag("view of bangkok.png", :alt => "", :class => "style_image") %>
</div>