<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74197580-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="gallery">
	<div class = "gallery_border">
		<h4>This is a gallery of as many pictures as I can get on the website.</h4> 
		<h4>The worse the photo the more likely you are to see it here.</h4>
	</div>
	<br>
	<%= image_tag("Beginning.jpg", :alt => "", :class => "style_image") %>
	<br>
	<h1>Bangkok</h1>
	<hr>
	<h4>View across Bangkok from boat</h4>
	<%= image_tag("view of bangkok.png", :alt => "", :class => "style_image") %>
	<h4>Ross and his Thai pants infront of the National Park Lake</h4>
	<%= image_tag("ross infroont of lake.png", :alt => "", :class => "style_image") %>
	<h4>Sunset across National Park</h4>
	<%= image_tag("lake.png", :alt => "", :class => "style_image") %>

	<br>
	<h1>Phuket</h1>
	<hr>

	<h4>Patong beach during the evening</h4>
	<%= image_tag("patong beach.png", :alt => "", :class => "style_image") %>
	<h4>In the sea at Patong beach</h4>
	<%= image_tag("ross checking his ass.png", :alt => "", :class => "style_image") %>
	<%= image_tag("ross in sea.png", :alt => "", :class => "style_image") %>

	<br>
	<h1>Railey Beach</h1>
	<hr>

	<h4>Railey Beach West</h4>
	<%= image_tag("GOPR0190.JPG", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>View from long tail boat on way to Railey Beach</h4>
	<%= image_tag("view from boat.png", :alt => "", :class => "style_image") %>
	<h4>View from other end of West Railey Beach</h4>
	<%= image_tag("railey west beach.JPG", :alt => "", :style => "width: 50em; height: 38em", :class => "style_image") %>
	<h4>Cave of Fun</h4>
	<%= image_tag("GOPR0194.JPG", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>Selfie in long tail boat</h4>
	<%= image_tag("selfie in boat.png", :alt => "", :class => "style_image") %>
	<h4>Long Tail Boat</h4>
	<%= image_tag("longboat.PNG", :alt => "", :class => "style_image") %>
	<h4>Beach</h4>
	<%= image_tag("dick cave beach.PNG", :alt => "", :class => "style_image") %>
	<h4>Monkey attack </h4>
	<%= image_tag("monkey attack.png", :alt => "", :class => "style_image") %>
	<h4>View of Railey from boat</h4>
	<%= image_tag("Railey bay.PNG", :alt => "", :class => "style_image") %>

	<br>
	<h1>Ao Nang</h1>
	<hr>

	<h4>Ao Nang Beach</h4>
	<%= image_tag("GOPR0177.JPG", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>Mountains behind Ao Nang</h4>
	<%= image_tag("ao nang mountains.png", :alt => "", :class => "style_image") %>
	<h4>View from bus on way to Ao Nang</h4>
	<%= image_tag("Bus to Ao Nang.jpg", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>Ross getting a pony tail</h4>
	<%= image_tag("ross getting haircut.PNG", :alt => "", :class => "style_image") %>
	
	<br>
	<h1>Koh Tao</h1>
	<hr>

	<h4>First view of Koh Tao</h4>
	<%= image_tag("first view of koh tao.PNG", :alt => "", :class => "style_image") %>
	<h4>Koh Tao Pier</h4>
	<%= image_tag("koh tao pier.PNG", :alt => "", :class => "style_image") %>
	<h4>Ferry boat taking us out to main dive boat</h4>
	<%= image_tag("29.02.16 Big Blue Diving-1.jpg", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>Action shot</h4>
	<%= image_tag("29.02.16 Big Blue Diving-2.jpg", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>The dive boat</h4>
	<%= image_tag("29.02.16 Big Blue Diving-3.jpg", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>Another action shot</h4>
	<%= image_tag("29.02.16 Big Blue Diving-4.jpg", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>A clownfish we saw on the dive</h4>
	<%= image_tag("29.02.16 Big Blue Diving-5.jpg", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>Blue Spotted Ribbon Tail Stringray</h4>
	<%= image_tag("29.02.16 Big Blue Diving-6.jpg", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
	<h4>Blue Spotted Ribbon Tail Stringray</h4>
	<%= image_tag("29.02.16 Big Blue Diving-7.jpg", :alt => "", :class => "style_image", :style => "width: 50em; height: 38em") %>
</div>

